.section {
    display: grid;
    align-items: end;
    row-gap: 2rem;
}

.section-horizontal, .section-vertical {
    grid-template-rows: 4.375rem auto;
}

.section-horizontal .section__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(80% / 2, max(350px, 80% / 3)), 1fr));
    gap: 1.5rem;
}

.section-vertical {
    grid-template-columns: 1fr auto; 
}

.section-vertical .section__cards {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-column: 1 / 3;
    column-gap: 1.25rem;
}